In [4]:
import pandas as pd

In [5]:
df = pd.read_excel('pl_numbers.xlsx')
df.head()

,PL_No,Code_A,Code_B,IRS_Symbol,Description_A(1),Description_A(2),Description_B
0,1,0,1.0,AB,Steam locomotive parts & fittings,WP/WG/WL/WT.,Axle Boxes and details.
1,2,0,2.0,TB,Steam locomotive parts & fittings,WP/WG/WL/WT.,Tender Axle Boxes and details.
2,4,0,4.0,SN,Steam locomotive parts & fittings,WP/WG/WL/WT.,Spring & Spring Gear.
3,5,0,5.0,TY,Steam locomotive parts & fittings,WP/WG/WL/WT.,Tyres.
4,6,0,6.0,WL,Steam locomotive parts & fittings,WP/WG/WL/WT.,Wheels and Axles.

In [8]:
n=int(input())
df.loc[df['PL_No'] == n]

3801

,PL_No,Code_A,Code_B,IRS_Symbol,Description_A(1),Description_A(2),Description_B
2233,3801,38,1.0,AB,"Carriage, Wagon, EMU, Railcar Parts & fittings","New IRS stock wagons, BOX, BOI, BCX, BRH & fu...",Axle boxes and details.